# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Env File
.env
.idea
webapp/nlp/symptom_model.joblib
webapp/nlp/__pycache__
